pytest==7.1.2
https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.3.0/el_core_news_sm-3.3.0.tar.gz
sphinx
sphinx_rtd_theme
sphinx-copybutton
sphinx-toggleprompt
autodocsumm
sphinx-math-dollar


